.container {
    display: flex;
    justify-content: center;
}

.button {
    margin-top: 5vh;
    border: none;
    width: 100px;
    border-radius: 25px;
    background-color: blue;
    color: white;
}